@import "../../node_modules/normalize.css/normalize";


body{
    background-color: rgb(236, 66, 66);
}
*{
    color: white;
}

h1{
    font-family: sans-serif;
}

p{
    font-family: sans-serif; 
}

